{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["dist/**/*", "src/vendor/**/*"],
  "rules": {
    "length-zero-no-unit": true,
    "color-hex-length": "short",
    "no-descending-specificity": null,
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
			"z-index",
      "overflow",
      "overflow-x",
      "overflow-y",
      "visibility",
      "box-sizing",
			"display",
      "vertical-align",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "flex-flow",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "justify-items",
      "justify-self",
      "align-content",
      "align-items",
      "align-self",
      "order",
      "gap",
      "float",
      "clear",
      "min-width",
      "width",
      "max-width",
      "min-height",
      "height",
      "max-height",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "border",
      "border-width",
      "border-style",
      "border-color",
      "border-radius",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "border-collapse",
      "list-style",
      "font",
      "font-family",
      "font-size",
      "line-height",
      "font-weight",
      "font-style",
      "font-variant",
      "font-stretch",
      "font-display",
      "letter-spacing",
      "text-transform",
      "text-decoration",
      "text-decoration-color",
      "text-align",
      "white-space",
      "hyphens",
      "word-break",
      "text-overflow",
      "overflow-wrap",
      "background",
      "background-image",
      "background-position",
      "background-repeat",
      "background-size",
      "background-color",
      "background-attachment",
      "background-clip",
      "background-origin",
      "fill",
      "color",
      "filter",
      "box-shadow",
      "opacity",
      "will-change",
      "transform",
      "transform-origin",
      "clip",
      "clip-path",
      "transition",
      "transition-property",
      "transition-timing-function",
      "transition-duration",
      "transition-delay",
      "animation",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "user-select",
      "cursor",
      "pointer-events",
      "resize"
		]
  }
}
