/*! Buttons */

@use '../abstracts' as *;

.button {
  --bg-color: var(--color-blue);
  --bg-color-hover: var(--color-blue-hover);
  --bg-color-active: var(--color-blue-active);
  --color: var(--color-white);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  min-height: 4.2rem;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--color);
  transition-property: transform, opacity, var(--transition-props-color);
  transition-timing-function: var(--transition-func-cubic);
  transition-duration: var(--transition-duration-medium);
  cursor: pointer;
  &:hover,
  &:focus-visible {
    background-color: var(--bg-color-hover);
    color: var(--color);
  }
  &:active {
    background-color: var(--bg-color-active);
    color: var(--color);
  }
}
