link(rel='icon', href='img/favicon/favicon.ico', sizes='any')
link(rel='icon', href='@img/favicon/favicon.svg', type='image/svg+xml')
link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon-180x180.png')
link(rel='manifest', href='img/favicon/manifest.webmanifest')
