/*! Homepage */

@use '../abstracts/' as *;

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include bp-min(1280px) {
    flex-direction: row;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
  border-top: 1px solid var(--color-gray-3);
}

.review {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.review__header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.date {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.04em;
  color: var(--color-gray-2);
}

.review__images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.review__image {
  border-radius: 0.5rem;
  img {
    border-radius: 0.5rem;
  }
}

.answer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  border-radius: 0.5rem;
  margin-top: 0.8rem;
  margin-left: 8.4rem;
  background-color: var(--color-gray-4);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -4.4rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('@svg/icons/arrow-corner.svg');
    background-repeat: no-repeat;
  }
}

.answer__header {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.answer__author {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  color: var(--color-dark);
}

/* Review form */

.panel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--color-gray-5);
  @include bp-min(1280px) {
    align-self: flex-start;
    width: 100%;
    max-width: 46rem;
  }
}
