/*! Homepage */

@use '../abstracts/' as *;

.graphic-snippets-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.picture {
  width: 12.4rem;
  height: 8.3rem;
  margin: auto;
  @include bp(md) {
    width: 24.8rem;
    height: 16rem;
  }
}

.picture-svg {
  padding: 2rem 1rem;
  border-radius: 3rem;
  margin: auto;
  background-color: brown;
}

.css-background-picture {
  width: 13.5rem;
  height: 18.5rem;
  margin: auto;
  @include bg-picture('starter/ficus.png', 270);
}

.inline-svg-wrapper {
  margin: auto;
  fill: black;
  transition: fill var(--transition-medium-cubic);
  .inline-svg path:nth-of-type(1) {
    fill: green;
    transition: fill var(--transition-medium-cubic);
  }

  &:hover {
    fill: slateblue;
    .inline-svg path:nth-of-type(1) {
      fill: goldenrod;
    }
  }
}

.dropdown-demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 4rem;
  row-gap: 2rem;
}
