/*! Sliders & Galleries page */

@use '../abstracts/' as *;

.basic-slider {
  margin-bottom: 4rem;

  .swiper-slide {
    width: 100%;
    max-width: 80rem;
  }

  .slider-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4rem 5rem;
    color: var(--color-white);
  }

  .slider-text__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .h2 {
      flex-grow: 1;
    }
  }

  .slider-text__link {
    display: flex;
    align-items: flex-end;
    padding-bottom: 3rem;
    a {
      text-decoration-color: transparent;
      color: inherit;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    img {
      object-fit: cover;
    }
  }

  .swiper-controls {
    z-index: 0;
    width: 100%;
  }

  .swiper-button-prev {
    z-index: 1;
  }

  @include bp(sm) {
    .slider-text {
      flex-direction: column;
      padding: 3rem 4rem;
    }
    .slider-text__wrapper {
      gap: 1rem;
    }
    .h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.6rem;
    }
    br {
      display: none;
    }
    .slider-text__link {
      padding-bottom: 1rem;
    }
  }
}
