//- prettier-ignore
+form([
  [
    {type: 'fieldset', legend: 'Basic form styling'},
    { 
      type: 'text',
      idName: 'name',
      wrapper: true,
      placeholder: 'Имя', 
      required: true
    }, 
    { 
      type: 'text',
      idName: 'last-name',
      wrapper: true,
      placeholder: 'Фамилия',
      required: true
    }, 
  ],
  { 
    type: 'email', 
    idName: 'email',
    wrapper: true,
    placeholder: 'Электронная почта', 
    required: true 
  }, 
  { 
    type: 'tel', 
    idName: 'tel',
    wrapper: true,
    placeholder: '+7 (___) ___-__-__',
    required: true
  }, 
  { 
    type: 'textarea',
    idName: 'textarea',
    cssClass: 'textarea-wrapper',
    wrapper: true,
    placeholder: 'Дополнительная информация',
  }, 
  { 
    type: 'file',
    idName: 'file',
    cssClass: 'file-wrapper',
    label: 'Прикрепить файл',
    accept: '.png, .jpg, .jpeg'
  }, 
  { 
    type: 'checkbox',
    idName: 'checkbox',
    label: 'Я даю согласие на <a href="#!">обработку персональных данных</a>.', 
    required: true,
    checked: true
  },
  {
    type: 'custom',
    cssClass: 'custom-field',
    template: 'messengers'
  },
  {
    type: 'submit',
    submitText: 'Отправить заявку'
  }
], 'application-dialog', 'dialog')
