//- prettier-ignore
+form([
  [
    {type: 'fieldset', legend: 'Basic form styling'},
    { 
      type: 'text',
      idName: 'name',
      wrapper: true,
      placeholder: 'Имя', 
      required: true
    }, 
    { 
      type: 'text',
      idName: 'last-name',
      wrapper: true,
      placeholder: 'Фамилия',
      required: true
    }, 
  ],
  { 
    type: 'email', 
    idName: 'email',
    wrapper: true,
    placeholder: 'Электронная почта', 
    required: true 
  }, 
  { 
    type: 'tel', 
    idName: 'tel',
    wrapper: true,
    placeholder: '+7 (___) ___-__-__',
    required: true
  },
  { 
    type: 'password',
    idName: 'password',
    wrapper: true,
    placeholder: 'Пароль',
    showVisibilityToggler: true,
    required: true
  }, 
  { 
    type: 'textarea',
    idName: 'textarea',
    wrapper: true,
    placeholder: 'Дополнительная информация',
    required: true
  }, 
  { 
    type: 'file',
    idName: 'file',
    label: 'Прикрепить файл',
    accept: '.png, .jpg, .jpeg'
  }, 
  {
    type: 'radio',
    legend: 'Выберите пол:',
    name: 'gender',
    required: true,
    radios: [
      {
        label: 'Мужской',
        id: 'male',
      },
      {
        label: 'Женский',
        id: 'female',
      }
    ]
  },
  { 
    type: 'checkbox',
    idName: 'checkbox',
    label: 'Я даю согласие на <a href="#!">обработку персональных данных</a>.', 
    required: true,
    checked: true
  },
  {
    type: 'custom',
    template: 'messengers'
  },
  {
    type: 'submit',
    submitText: 'Отправить заявку'
  }
], 'application')
