//- ** Breadcrumb component

//-?
  +breadcrumb([
    { name: 'Home', link: 'index.html' },
    { name: 'Catalog', link: 'catalog.html' },
    { name: 'Product', current: true },
  ])

mixin breadcrumb(crumbs)
  nav.breadcrumb(aria-label='Breadcrumb')&attributes(attributes)
    ol.breadcrumb__list
      each crumb in crumbs
        li.breadcrumb__item
          if (!crumb.current)
            a.breadcrumb__link(href=crumb.link) !{ crumb.name }
          else
            a.breadcrumb__link.breadcrumb__link--current-page(href='#!', aria-current='page') !{ crumb.name }
