- const path = require('path');
- const sizeOfImage = require('image-size');

include breadcrumb.pug
include dialog.pug
include dropdown.pug
include field-checkbox.pug
include field-custom.pug
include field-file.pug
include field-label.pug
include field-radio.pug
include field-submit.pug
include field-text.pug
include form.pug
include icon.pug
include image.pug
include nav.pug
include navbar.pug
include picture.pug
include swiper.pug
