//- ** Input labels 

mixin fieldLabel(wrapper, labelFor, text, type, prefix)
  if wrapper
    label.form__label(class=`label-${type}`)&attributes(attributes)!= text
      block
  else
    block
    label.form__label(class=`label-${type}`, for=prefix + '-' + labelFor)&attributes(attributes)!= text
      if (['checkbox', 'radio'].includes(type))
        span(class=`${type}-input-control`)
