//- ** Swiper component

//-? Each slide must have the .swiper-slide container
  +swiper({controls: true})
    .swiper-slide
      .first-slide
    .swiper-slide
      .second-slide
    .swiper-slide
      .third-slide

mixin swiper(...modules)
  .swiper&attributes(attributes)
    .swiper-wrapper
      block

    each module in modules
      if (module.controls)
        .swiper-button-prev
        .swiper-pagination
        .swiper-button-next

      if (module.compactControls)
        .swiper-controls
          .swiper-button-prev
          .swiper-pagination
          .swiper-button-next

      if (module.scrollbar)
        .swiper-scrollbar
