extends ../main.pug

block globals
  - var pageUrl = 'index';
  - var pageTitle = 'Главная страница';

block content
  h1.h1 Главная страница
  section.graphic-snippets-section
    .graphic-snippets-section__item
      h2.h2 Responsive picture set
      .picture
        +picture('starter/klim.jpg', 'Klim')
    .graphic-snippets-section__item
      h2.h2 SVG responsive picture set
      .picture-svg
        +pictureSVG('pictures/starter-logo.svg', 'Responsive svg', ['-lg', '-md', ''], ['960', '431', ''])
    .graphic-snippets-section__item
      h2.h2 CSS background picture set
      .css-background-picture
    .graphic-snippets-section__item
      h2.h2 Plain image
      .plain-img
        +image('starter/ficus.png', 'Ficus')
    .graphic-snippets-section__item
      h2.h2 Inline SVG
      .inline-svg-wrapper
        +imageSVG('inline/starter-zara.svg', 'Zara')
  hr.hr
  .dropdown-demo
    +dropdown('Clickable dropdown')
      p test
      p test
      p test
      p test
    +dropdown('Hoverable dropdown', { buttonClass: 'link', hoverable: true })
      p test
      p test
      p test
      p test
    //- ToDo: Select dropdown logic
    +dropdown('Select dropdown', { buttonClass: 'link', select: true })
      p test
      p test
      p test
      p test
