extends ../main.pug

block globals
  - var pageUrl = 'starter-sliders-galleries';
  - var pageTitle = 'Слайдеры и галереи';

block styles
  link(href='vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block scripts
  script(defer, src='vendor/swiper/swiper-bundle.min.js')

block content
  //- prettier-ignore
  +breadcrumb([
    { name: 'Home', link: 'index.html' },
    { name: 'Sliders & Galleries', current: true }
  ])
  
  h1.h1 Слайдеры и галереи

  // Basic slider
  section
    h2.h2 Basic slider
    +swiper({controls: true}).basic-slider
      .swiper-slide
        .slider-text(data-swiper-parallax='-300', data-swiper-parallax-duration='400')
          .slider-text__wrapper
            .h2 Фотосессия для сайта #[br]Bus star
            p Провели фотосъемку для сервиса #[br]аренды автобусов
          .slider-text__link
            a(href='#!') Смотреть кейс
        +picture('starter/slides/basic-slider-1.jpg', 'Автобус', [''])
      .swiper-slide
        .slider-text(data-swiper-parallax='-300', data-swiper-parallax-duration='400')
          .slider-text__wrapper
            .h2 Создание брендинга #[br]для Cervalina
            p Разработали фирменный стиль #[br]для магазина интерьерных украшений
          .slider-text__link
            a(href='#!') Смотреть кейс
        +picture('starter/slides/basic-slider-2.jpg', 'Автобус', [''])
      .swiper-slide
        .slider-text(data-swiper-parallax='-300', data-swiper-parallax-duration='400')
          .slider-text__wrapper
            .h2 Продвижение сайта #[br]диллера Tesla
            p Создали эффективную воронку #[br]продаж и привели новых клиентов
          .slider-text__link
            a(href='#!') Смотреть кейс
        +picture('starter/slides/basic-slider-3.jpg', 'Автобус', [''])
      .swiper-slide
        .slider-text(data-swiper-parallax='-300', data-swiper-parallax-duration='400')
          .slider-text__wrapper
            .h2 Мерч для #[br]дилеров WYNNS®
            p Производство партии фирменной #[br]продукции для поставщика автохимии
          .slider-text__link
            a(href='#!') Смотреть кейс
        +picture('starter/slides/basic-slider-4.jpg', 'Автобус', [''])
