/* Default theme settings */

:root {
  // Pure Colors
  --color-orange: #ffb648;
  --color-blue: #0d78ff;
  --color-blue-hover: #0b68dd;
  --color-blue-active: #0358c3;
  --color-blue-light: #e6f3fd;
  --color-red: #ea2828;
  --color-gray-1: #464646;
  --color-gray-2: #b1b1b1;
  --color-gray-3: #e4e2e2;
  --color-gray-4: #f6f6f6;
  --color-gray-5: #f0f0f0;
  --color-gray-6: #dadce0;
  --color-dark: #1a1a1a;
  --color-black: black;
  --color-white: white;

  // UI Colors
  --html-bg-color: var(--color-white);
  --text-body-color: var(--color-gray-1);
  --tab-focus-color: var(--color-black);
  --content-link-color: var(--color-blue);
  --content-link-color-hover: var(--color-red);
  --content-link-color-active: var(--color-blue);

  // UI Effects
  --shadow-dialog: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
  --shadow-menu: 0 5px 15px 0 rgba(0, 0, 0, 0.5);

  // Transitions
  --transition-props-color: color, background-color, border-color, text-decoration-color;
  --transition-func-cubic: cubic-bezier(0.4, 0.8, 0.4, 1);
  --transition-duration-short: 0.1s;
  --transition-duration-medium: 0.2s;
  --transition-duration-long: 0.3s;
  --transition-short-cubic: var(--transition-duration-short) var(--transition-func-cubic);
  --transition-medium-cubic: var(--transition-duration-medium) var(--transition-func-cubic);
  --transition-long-cubic: var(--transition-duration-long) var(--transition-func-cubic);

  // UI Transitions
  --transition-overlay: visibility 0.3s, opacity 0.3s;
}

:root,
::backdrop {
  --color-overlay-bg: rgba(0, 0, 0, 0.5);
  --color-stack-overlay-bg: rgba(0, 0, 0, 0.2);
}

// Atomic theme classes
.c-primary {
  color: var(--color-primary);
}
.c-secondary {
  color: var(--color-secondary);
}
